<!DOCTYPE html>
<html lang="pl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">TrainerConnect</span>
              </a>
        
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Podopieczni</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Treningi</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Terminarz</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Płatności</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Kontakt</a></li>
              </ul>
            </header>
          </div>
    </body> 
</html>