{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Zaloguj się</legend>
            {{ form|crispy }}
            </div>
        </fieldset>
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-outline-primary" type="submit">Zaloguj się</button>
        </div><br>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted d-flex justify-content-center">
            Nie masz konta?<br><a class="ml-2" href="{% url 'register' %}">Zarejestruj się</a>
        </small><br>
        <small class="text-muted d-flex justify-content-center">
            <a href="{% url 'password_reset' %}">Zapomniałeś hasła??</a>
        </small>
    </div>
</div>
{% endblock %}