{% extends 'base.html' %}

{% block title %}Zresetuj hasło{% endblock title %}

{% block content %}
    <br>
    <div class="content-section align-self-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Zresetuj hasło</legend>
                {{ form.as_p }}
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Wyślij</button>
        </div>
    </form>
{% endblock content %}