{% extends 'base.html' %}
{% block content %}
    <h1 class="d-flex justify-content-center">Terminarz</h1>
    <a href="/create_event/" class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Dodaj trening</button>
    </a><br>
    <ul>
      {% for result in results %}
      <li>{{result.start.date}}{% if result.end.date %}-{% endif%}{{result.end.date}}: {{result.summary}}</li>
      {% endfor %}
    </ul>
    <div class="container d-flex justify-content-center">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FWarsaw&mode=WEEK&title=Kalendarz%20trening%C3%B3w&src=MDNlYjI5NjNhNmViMDZhMjUxMmRkNzAxMjI1MjlmMjAxZWQ2ZGE5MWM4M2Y5YWJmZGIyMGQyNjBkOGE2ZjdlZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock content %}

