{% extends 'base.html' %}
{% block content %}
<h2 class="d-flex justify-content-center">Lista konwersacji</h2>

</form>
<a href="/add_thread/" class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Dodaj konwersację</button>
</a><br><br>
<ul>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Trener</th>
        <th scope="col">Podopieczny</th>
        <th scope"col">Opis</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for thread in thread_list %}
      <tr>
        <td><a href="/thread/{{ thread.id }}">{{ thread.name }}</a></td>
        <td>{{ thread.trainer_id }}</td>
        <td>{{ thread.trainee_id }}</td>
        <td>{{ thread.description }}</td>
        <td>
            <a href="/add_message/">
    <button type="button" class="btn btn-primary">Dodaj wiadomość</button>
            </a>
        </td>
      </tr>
        {% empty %}
        <tr>
            <td colspan="5">Brak konwersacji</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</ul>
{% endblock %}