{% extends 'base.html' %}
{% block content %}
<h2>Lista konwersacji:</h2>
<form method="get" action="{% url "thread-list" %}">
    <input type="text" name="search" value="{{ search_query }}">
    <button type="submit">Szukaj</button>
</form>
<a href="/add_thread/">
    <button type="button" class="btn btn-primary">Dodaj konwersację:</button>
</a><br><br>
<ul>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Trener</th>
        <th scope="col">Podopieczny</th>
        <th scope"col">Opis</th>
        <th scope="col">Wiadomości</th>
      </tr>
    </thead>
    <tbody>
        {% for thread in thread_list %}
      <tr>
        <td><a href="/thread/{{ thread.id }}">{{ thread.name }}</a></td>
        <td>{{ thread.trainer_id }}</td>
        <td>{{ thread.trainee_id }}</td>
        <td>{{ thread.description }}</td>
        <td>
            {% for message in message_list %}
                <li>{{ message.text }}</li>
            {% endfor %}
        </td>
      </tr>
        {% empty %}
        <tr>
            <td colspan="5">Brak konwersacji</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</ul>
{% endblock %}