{% extends "base.html" %}
{% block content %}
    <h2>Lista treningów:</h2>
    <form method="get" action="{% url "training-list" %}">
        <input type="text" name="search" value="{{ search_query }}">
        <button type="submit">Szukaj</button>
    </form>
    <a href="/add_training/">
        <button type="button" class="btn btn-primary">Dodaj trening</button>
    </a><br><br>
    <ul>
    <ul>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Numer</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Ćwiczenia</th>
          </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
          <tr>
            <th scope="row">{{ object.id }}</th>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td>
                {% for exercise in object.trainings.all %}
                    <li>{{ exercise }}</li>
                {% endfor %}
            </td>
          </tr>
            {% empty %}
            <tr>
                <td colspan="5">Brak treningów</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </ul>
    </ul>
{% endblock %}