{% extends "base.html" %}
{% block content %}
    <h2 class="d-flex justify-content-center">Lista planów treningowych:</h2>
    <form method="get" action="{% url "training-plan-list" %}" class="d-flex justify-content-center">
        <input type="text" name="search" value="{{ search_query }}">
        <button type="submit">Szukaj</button>
    </form><br>
    <a href="/add_training/" class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Dodaj trening</button>
    </a><br><br>
    <ul>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Opis</th>
            <th scope="col">Treningi</th>
            <th scope="col">Użytkownik</th>
              <th scope="col">Usuń</th>
          </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
          <tr>
            <td><a href="/update_training_plan/{{ object.id }}">{{ object.name }}</a></td>
            <td>
                {% for training in object.trainings.all %}
                    <li><a href="/training_details/{{ training.id }}">{{ training.name }}</a></li>
                {% endfor %}
            </td>
            <td>{{ object.user_id }}</td>
            <td><a href="/delete_training_plan/{{ object.id }}">Usuń</a></td>
          </tr>
            {% empty %}
            <tr>
                <td colspan="5">Brak planów</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </ul>
{% endblock %}