{% {% extends 'base.html' %}%}
{% block content %}
<!DOCTYPE html>
<html>
<body>
	<center><h1>Witaj, {{request.user}} !</h1></center>
	<br>
	{% if request.user.is_authenticated %}
	<center> Wyloguj się z czatu <a href = "{% url 'logout' %}">Wyloguj</a></center>
	{% endif %}
	<div
	class="chat__item__container"
	id="id_chat_item_container"
	style="font-size: 20px"
	>
	<br>
	<input type="text" id="id_message_send_input" />
	<button type="submit" id="id_message_send_button">Wyślij</button>
	<br>
	<br>
	</div>
	<script> src="templates/chatapp.js" </script>
</body>
</html>
{% endblock content %}